<div class="w-80 border-r flex-shrink-0 overflow-hidden flex flex-col">
    <!-- Sidebar header -->
    <div class="p-4 border-b flex justify-between items-center">
        <h1 class="font-bold text-xl">Messages</h1>
        <div class="flex space-x-2">
            <button class="p-2 rounded-full">
                 <i class="pi pi-bell" style="font-size: 1rem"></i>
            </button>
            <button class="p-2 rounded-full">
                <i class="pi  pi-cog" style="font-size: 1rem"></i>
            </button>
        </div>
    </div>

    <!-- Search -->
    <div class="p-4 border-b">
        <div class="relative rounded-md shadow-sm">
            <input type="text"
                class="block w-full pl-4 pr-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
                placeholder="Search conversations" />
        </div>
    </div>

    <!-- Chat list -->
    <div class="flex-grow overflow-y-auto">
        @for (chat of chats; track $index) {
        <div class="p-4 border-b cursor-pointer flex items-center" [class.bg-gray-700]="activeChat === chat.id"
            [class.bg-gray-100]="activeChat === chat.id" (click)="setActiveChat(chat.id)">
            <div class="relative">
                <img class="h-12 w-12 rounded-full" [src]="chat.avatar" [alt]="chat.name" />
                @if (chat.online) {
                <span
                    class="absolute bottom-0 right-0 block h-3 w-3 rounded-full bg-green-400 ring-2 ring-white"></span>}
            </div>

            <div class="ml-3 flex-grow min-w-0">
                <div class="flex justify-between items-baseline">
                    <p class="font-medium truncate">
                        {{ chat.name }}
                    </p>
                    <p class="text-xs">
                        {{ chat.time }}
                    </p>
                </div>
                <p class="text-sm truncate">
                    {{ chat.lastMessage }}
                </p>
            </div>
            @if (chat.unread > 0) {
            <div class="ml-2 bg-indigo-600 rounded-full w-5 h-5 flex items-center justify-center">
                <span class="text-xs text-white">{{ chat.unread }}</span>
            </div>
            }
        </div>
        }
    </div>
</div>